body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    background-color: transparent;
    color: #ededed;
}
.header{
    background-color: #000;
    color: #fff;
    min-height: 50px;
    margin: 0;
    overflow: hidden;
    border-color: #080808;
    border: 1px solid transparent;
    position: fixed;
    width: 100%;
}
.innner-header{
    width: 80%;
    margin:auto;
}
.logo{
    float: left;
    height: 25px;
    padding-top: 10px;
    font-size: 30px;
    font-family: 'Architects Daughter', cursive;
}
.header-links{
    float: right;
    height: 25px;
    padding: 15px;
    font-size: 20px;
}
.header-links a:hover{
    color: red;
}

.header-button{
    float: right;
    height: 25px;
    padding: 15px;
    font-size: 20px;
}
button{
    color:white;
    background-color: #c9302c;
    border-color: #ac2925;
    font-size: 16px;
}

.container{
	width:90%; 
	margin:auto; 
	overflow:hidden;
}
footer{
	background-color: #000; 
	color:#fff; 
	font-size:14px; 
	position: fixed;
 	bottom: 0;
  	width: 100%;
}

.main-contact{
	height: 650px;
}

.contact-image{
	
    background-image: url(contactImage.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

.contact-content{

	padding-top: 6%; 
	padding-bottom: 10%;
	padding-left: 20%;
	text-align: left;
	color: #fff;
	float:left;
}

.contact-container{
	background-color: rgba(0,0,0,0.3);
	height: 710px;
}

.contact-form{

	margin-top: 7%;
	margin-right: 5%;
	width: 400px;
	height: 500px;
	padding: 20px;
	background:rgba(255,255,255,0.7);
	float:right;
}

.contact-form .inputbox{
	width: 100%;
	clear:both;
}

.contact-form .inputbox input, 
.contact-form .inputbox textarea{

	width: 100%;
	height: 20px;
	clear: both;

}

.contact-form .inputbox span{
	float: left;
}

